
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M1</title>
</head>
<body>
    <div> 
        <h3>Method 1 : @TempData["nokey"]</h3>
    </div>
</body>
</html>
