
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("", ""))
        {
            <input type="text" name="FirstName" /><br />
            <input type="text" name="LastName" /><br />
            <input type="button" value="Click Here"/>

        }
    </div>
</body>
</html>
