
@{
    Layout = "~/Views/Shared/_sectionlayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div> 
        @section rendername
        {
            <h1>This is Mayank Here</h1>
         }
    </div>
</body>
</html>
