
@{
    ViewBag.Title = "m1";
    Layout = "~/Views/Shared/_sectionlayout.cshtml";
}

<h2>Method m2</h2>

<div>
    @section rendersomething
 {
        <h1>This is Text of M1 Method Here</h1>
    }
</div>