
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <h1>This is Index Page</h1>
        <a href="/GetList">GetList</a>
        <a href="/AddList">Add List</a>
    </div>

</body>
</html>
