
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Newlayout</title>
</head>
<body>
    <header style="height:200px ; background-color:lightgrey">
        <h2>This is Header</h2>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer style="height:200px ; background-color:aquamarine">
        <h2>This is Footer</h2>
    </footer>
</body>
</html>
