
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NLayout</title>
</head>
<body>

    <header style="height:200px ; background-color:chocolate">
        <h2>This is Header</h2>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer style="height:200px ; background-color:chartreuse ; color:darkcyan">
        <h2>This is Footer</h2>
    </footer>
    <div>

    </div>
</body>
</html>
