@model ASP.NET_MVC_Project.Models.mymodel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>My Id is : @Model.Id</h1>
        <h2>My name is : @Model.Name</h2>
        <h3>Welcome To View Page</h3>
    </div>
</body>
</html>
