
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Content of Index2 Page - @RenderPage("~/Views/RenderPage/Index2.cshtml")</h1>
    <h1>Content of Render Layout Page - @RenderPage("~/Views/Shared/_RenderLayout.cshtml")</h1>

    <div>
        <h2>Hello from Index </h2>
    </div>
</body>
</html>
