@model ASP.NET_MVC_Project.Models.TemplatedHtmlHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.DisplayName("kucbhi")<br /><br />
        @Html.DisplayNameFor(s => s.Name)<br /><br />

    </div>


    <div>

        @Html.DisplayName("newdate") - @Html.EditorForModel()<br /><br />

    </div>


</body>
</html>
