
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submitdata</title>
</head>
<body>
    <div> 
        <h3>Submit Data Succesfully</h3>
    </div>
</body>
</html>
